<!Doctype html>

<html ng-app="chatApp">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chatroom...</title>
		<script src="//api.turnservers.com/api.js?key=Here You API KEY"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="/localcss/chat.css" rel="stylesheet"></link>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	</head>
	<body ng-controller="BasicChatController">
		<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/localjs/chatAppMain.js"></script>
		<script type="text/javascript" src="/localjs/factories/socketFactory.js"></script>
		<script type="text/javascript" src="/localjs/controllers/chatController.js"></script>
		<script type="text/javascript" src="/localjs/controllers/VideoController.js"></script>

		<!-- Header implemented using bootstrap -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-NPC-navbar-collapse-1">
						<span class="sr-only">Toggle-Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Ping</a>					
				</div>

				<div class="collapse navbar-collapse navbar-right" id="bs-NPC-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>	
			</div>
		</nav>

		<section class="section">

			<div class="container vertical-center img-rounded" ng-show = "connectScreen" ng-cloak>
				<div class="panel panel-default">
					<div class="panel-heading">Register</div>
					<div class="panel-body">
						<div class="row">	
							<div class="col-lg-3">
							 	<img src="/img/unnamed.jpg" class="img-circle img-responsive" id="noMessagesImage"/>
							</div>
							<div class="col-lg-8">
								<form role="form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Your nick name" ng-model="name"/>
										<p ng-show="validName()" class="h5 help-block">invalid name</p>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Your email" ng-model="email"/>
										<p ng-show="validEmail()" class="h5 help-block">invalid email</p>
									</div>							
									<button type="submit" class="btn btn-default" ng-click="update()">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<!-- chat screen for second person -->

			<div class="container vertical-center img-rounded" ng-show = "personInside" ng-cloak>
				<div class="panel panel-default">
					<div class="panel-heading">Chat with {{firstUser}}</div>
					<div class="panel-body">
						<div class="row">	
							<div class="col-lg-3">
							 	<img src="/img/unnamed.jpg" class="img-circle img-responsive" id="noMessagesImage"/>
							</div>
							<div class="col-lg-8">
								<form role="form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Your nick name" ng-model="name"/>
										<p ng-show="validName()" class="h5 help-block">invalid name</p>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Your email" ng-model="email"/>
										<p ng-show="validEmail()" class="h5 help-block">invalid email</p>
									</div>							
									<button type="submit" class="btn btn-default" ng-click="updateUser()">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>	
			</div>


			<!-- invitation screen -->
			<div ng-show="inviteScreen" class="container vertical-center img-rounded" ng-cloak>
				<div class="panel panel-default col-xs-12 col-md-6">
					<div class="panel-heading">
    					<h3 class="panel-title">Empty Room!!!</h3>
  					</div>
  					<div class="panel-body">
    					<p>Invite a friend by sending them this URL</p>
  					</div>
  					<div class="alert alert-info" role="alert">{{link}}</div>
  				</div>
			</div>

			<!-- Too many people -->
			<div ng-show="tooManyPeople" class="container vertical-center img-rounded" ng-cloak>
				<div class="panel panel-default col-xs-12 col-md-6">
					<div class="panel-heading">
    					<h3 class="panel-title">Room Filled!!!</h3>
  					</div>
  					<div class="panel-body">
  						<p>You cannot join this chat!</p>
    					<p>The room is already filled with two people.</p>
   						<div class="alert alert-info" role="alert">
  							<a title="New Room" href="/create" id="room">Create a New Room</a>
  						</div>
  					</div>
  				</div>
			</div>

			<!--User left -->

			<div ng-show="leftUserWindow" class="container vertical-center" ng-cloak>
				<div class="panel panel-default">
					<div class="row">
						<div class="col-xs-3">
							<img ng-src="{{leftUserImage}}" class="img-circle img-responsive" id="noMessagesImage"/>
						</div>
						<div class="col-xs-8">
							<h3> {{leftUser}} has left this chat.</h3>
							<h5>Invite somebody else by sending them this page.</h5>
						</div>
					</div>
				</div>
			</div>	

			<!-- No messages yet -->
			<div ng-show="noMsgWindow" class="container vertical-center" ng-cloak>
				<div class="panel panel-default">
					<div class="row">
						<div class="col-xs-3">
						 	<img ng-src="{{otherPersonImage}}" class="img-circle img-responsive" id="noMessagesImage"/>
						</div>
						<div class="col-xs-8">
							<h3>You are chatting with {{otherPerson}}.</h3>
							<h5>Send them a message from the form below!</h5>
						</div>
					</div>
				</div>
			</div>

			<!-- chat screen -->
			<div ng-show="chatScreenWindow" class="container" ng-cloak>
				<div class="row">
					<div class="chatscreen pre-scrollable col-xs-6">
						<ul class="chats">
							<li ng-repeat="chat in chats" ng-class="chat.styleClassName">
								<div class="image">
									<img ng-src="{{chat.imgSrc}}"/>
									<b>{{chat.user}}</b>
									<!--
									<i class="timesent">{{chat.currentTime}}</i> -->
								</div>
								<p>{{chat.msg}}</p>
							</li>
						</ul>
						<a id="bottom"></a>
					</div>
					<div class="col-xs-6 videoscreen" ng-controller="VideoController">
						<video class="col-xs-12" height="400px" padding-top="100px" id="hervideo" autoplay>
  							<source src="movie.mp4" type="video/mp4">
  							<source src="movie.ogg" type="video/ogg">
							Your browser does not support the video tag.
						</video>
						<div class="row">
							<div class="col-xs-4">
								<button type="submit" class="btn btn-default" ng-click="videoConfInit()">{{callOrAnswer}}</button>
							</div>
							<div class="col-xs-8">
								<video class="col-xs-12" height="100px" padding-bottom="20px" id="myvideo" autoplay>
									<source src="movie.mp4" type="video/mp4">
  									<source src="movie.ogg" type="video/ogg">
									Your browser does not support the video tag.
								</video>
							</div>	
						</div>
					</div>
				</div>
			</div>

			<!--Chat box -->
			<div class="navbar navbar-default navbar-fixed-bottom" ng-show="enterMsgWindow" ng-cloak>
				<div class="container">
					<div class="row"> 
						<br/>
						<form role='chatForm'>
							<div class="form-group col-xs-4">
								<input type="text" class="form-control" id="chatMessage" placeholder="Type Type..." ng-model="lovelyChat" ng-change="typing()"/>
								<p class="h6 help-block">{{whoIsTyping}}</p>
							</div>
							<input type="submit" class="btn btn-success" value="send" ng-click="sendLovelyChat()"/>
						</form>
						<br/>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</section>
		
		<script type="text/javascript" src="/jqueryjs/jquery.js"></script>
		<script type="text/javascript" src="/bootstrapjs/bootstrap.min.js"></script>
	</body>
</html>