<!Doctype html>

<html>
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>welcome to Ping!! Create a new chatroom...</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="/localcss/home.css" rel="stylesheet">
	</head>
	<body>
		<header id="top" class="header">
	        <div class="text-vertical-center">
    	        <h1>Ping</h1>
        	    <h3>Simple &amp; Fluid Chat Server</h3>
            	<br>
            	<a href="/create" class="btn btn-dark btn-lg">Create a private room</a>
        	</div>
    	</header>
    	    <!-- Footer -->
    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Start Bootstrap</strong>
                    </h4>
                    <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer> -->


    	<script type="text/javascript" src="/jqueryjs/jquery.js"></script>
		<script type="text/javascript" src="/bootstrapjs/bootstrap.min.js"></script>
	</body>
</html>
